// overwrite the font
$govuk-font-family: "Khula", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$govuk-assets-path: "node_modules/govuk-frontend/govuk/assets/";
$moj-assets-path: "node_modules/@ministryofjustice/frontend/moj/assets/";

@import "node_modules/govuk-frontend/govuk/base";
