// overwrite the font
$govuk-font-family: "Khula", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "~govuk-frontend/govuk/all";

$moj-assets-path: "~@ministryofjustice/frontend/moj/assets/";
@import "~@ministryofjustice/frontend/moj/all";

@import "print";

@import "@jac-uk/jac-kit/helpers/css/global.scss";
