
/*
@import "~govuk-frontend/govuk/all";

@import "~@ministryofjustice/frontend/moj/all";
*/

@import "node_modules/govuk-frontend/govuk/all.scss";
@import "node_modules/@ministryofjustice/frontend/moj/all.scss";
@import "print";
@import "@jac-uk/jac-kit/helpers/css/global.scss";

// global styles and overrides
.modal {
  max-height: 90%;
  overflow: auto;
  text-align: left;
}

.text--inverse {
  color: white;
}

.text--error {
  color: $govuk-error-colour;
}

* {
  box-sizing: border-box;
}

.v-top {
  vertical-align: top !important;
}

.full-screen {
  .print-none,
  header,
  footer,
  .title-bar-exercise,
  .favourite-tag,
  .sub-navigation {
    display: none !important;
  }
  .print-full-width {
    width: 100%;
  }
  .govuk-width-container {
    max-width: none;
    padding: 20px !important;
  }
}

.hard-coded {
  background-color: pink;
}
.hard-coded-border {
  border: 1px solid pink;
}
.modal__title {
  color: #ffffff;
}

/* Fix issue with background arrow image not being built correctly from MOJ Assets */
.moj-button-menu__toggle-button--secondary {
  padding-right: 26px;
  &:after {
    content: "\25bc";
    font-size: 0.8em;
    position: absolute;
    right: 10px;
    top: 11px;
    background: none;
  }
}
