// overwrite the font
$govuk-font-family: "Khula", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "node_modules/govuk-frontend/govuk/all";

.text-center {
  text-align: center;
}

// JAC bespoke css can go here
.govuk-button {
  background-color: #753880;
  box-shadow: 0 2px 0 #5e2d66;
}

.govuk-button:hover,
.govuk-button:focus {
  background-color: #5e2d66;
}
