// JAC brand colours
$jac-purple: rgb(90, 27, 92);
$jac-grey: rgb(145, 145, 145);
$jac-red: rgb(175, 0, 55);
$jac-green: rgb(52, 100, 35);
$jac-blue: rgb(13, 94, 140);
$jac-yellow: rgb(240, 182, 0);

// Configure Bootstrap variables
$primary: $jac-purple;
$secondary: $jac-grey;
$link-decoration: underline;
$headings-line-height: 1.5;

// overwrite the font
$govuk-font-family: "Khula", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "node_modules/govuk-frontend/govuk/all";

.text-center {
  text-align: center;
}
